.v-list-warp
    overflow: auto;
    position: relative;
    border: 1px solid #aaa;

    .v-list-phantom 
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: -1;
    

    .v-list-content
        left: 0;
        right: 0;
        top: 0;
        position: absolute;

    .v-list-item
        padding: 5px;
        color: #666;
        line-height: 30px;
        box-sizing: border-box;